---
import Header from '~/components/Header.astro'
import Layout from '~/layouts/Layout.astro'
import { fetchDailyLifeBlog, fetchDailyLifeBlogList } from '~/library/fetchDailyLifeBlog'
import { formatStringDateAndTime } from '~/utils/formatStringData'

export async function getStaticPaths({}) {
  const res = await fetchDailyLifeBlogList()

  return res.contents.map((content) => {
    return {
      params: { dailyLifeId: content.id }
    }
  })
}

const { dailyLifeId } = Astro.params

if (!dailyLifeId) return

const dailyLifeBlog = await fetchDailyLifeBlog(dailyLifeId)
---

<Layout title="記事一覧">
  <Header
    breadcrumbList={[
      { path: '/', title: 'ブログ一覧' },
      { path: `/blog/${dailyLifeBlog.id}`, title: `${dailyLifeBlog.title}` }
    ]}
  />
  <main>
    <p>
      投稿日 {formatStringDateAndTime(dailyLifeBlog.createdAt)}
    </p>
    <div class="content" set:html={dailyLifeBlog.content} />
  </main>
</Layout>

<style>
  main {
    padding: 100px 64px 0;
  }

  p {
    text-align: right;
  }
</style>
