---
import Layout from '../../layouts/Layout.astro'
import { getBlogs } from '../../library/microcms'

export async function getStaticPaths() {
  const res = await getBlogs({ limit: 10 })

  if (!res) throw new Error('not res')

  const id = res.contents.map((content) => {
    return {
      params: { id: content.id }
    }
  })

  return id
}

const { id } = Astro.params

if (!id) return
---

<Layout title="記事一覧">
  <main>
    <h1>success!!: {id}</h1>
    <p>投稿日</p>
  </main>
</Layout>
