---
import Header from '../../components/Header.astro'
import Layout from '../../layouts/Layout.astro'
import { fetchTechBlog, fetchTechBlogList } from '../../library/fetchTechBlog'
import { formatStringDateAndTime } from '../../utils/formatStringData'

export async function getStaticPaths({}) {
  const res = await fetchTechBlogList({ limit: 100 })

  return res.contents.map((content) => {
    return {
      params: { techId: content.id }
    }
  })
}

const { techId } = Astro.params

if (!techId) return

const techBlog = await fetchTechBlog(techId)
---

<Layout title="記事一覧">
  <Header
    breadcrumbList={[
      { path: '/', title: 'ブログ一覧' },
      { path: `/blog/${techBlog.id}`, title: `${techBlog.title}` }
    ]}
  />
  <main>
    <p>
      投稿日 {formatStringDateAndTime(techBlog.createdAt)}
    </p>
    <div class="content" set:html={techBlog.content} />
  </main>
</Layout>

<style>
  main {
    padding: 100px 64px 0;
  }

  p {
    text-align: right;
  }
</style>
